.review {
    background-color: rgb(227, 227, 227);
    margin-top: 10px;
    box-shadow: 1px 1px #b3b3b3;
    width: 30%;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
  }
  .reviewArea {
      padding-bottom: 10px;
      align-items: stretch;
      display: flex;
  }
.reviewHeader, .imagesHeader, .businessInfoHeader{
    background:rgba(255,255,255,0);
    margin: 0;
    padding: 0;
    height: 40px;
}
.reviewBody, .imagesBody, .businessInfoBody{
    background:rgba(255,255,255,0);
    margin: 0;
    padding: 0;
    max-height: 310px;
    overflow: auto;
}
.reviewBody {
    /* display: flex;
    align-items: stretch;
    justify-content: stretch; */

}
.reviewCard, .imagesCard, .businessInfoCard{
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 #f8f9fa;
    border: 0;

  }
  
  .Accordion .card {
    margin:0;
  }

  .imagesCard img {
     height: 200px;
     margin: 10px;
  }
  .reviewCard .reviewHeader{
      border:0;
  }
  .imagesCard .imagesHeader{
    border:0;
}
.imagesBody {
    display:flex;
    flex-wrap: wrap;
}
.writeReview:hover {
    color: darkblue;
}
.beige {
    color:#CE5B78;
}
.orange {
    color: #E08119;
}
.purple {
    color: #6B5B95;
}
