.review {
    background-color: rgb(227, 227, 227);
    margin-top: 10px;
    box-shadow: 1px 1px #b3b3b3;
    width: 30%;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
  }
  .reviewArea {
      padding-bottom: 10px;
      align-items: stretch;
      display: flex;
  }
.reviewHeader {
    background:rgba(255,255,255,0);
    margin: 0;
    padding: 0;
    height: 40px;
}
.reviewBody {
    background:rgba(255,255,255,0);
    margin: 0;
    padding: 0;
}
.reviewCard {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 #f8f9fa;
    border: 0;

  }
  
  .Accordion .card {
    margin:0;
  }