
.adminDashboard {
    background-image: url("https://images.pexels.com/photos/2124696/pexels-photo-2124696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    padding-bottom:40px;
    min-height: 100vh;
}
.deniedBackground{
    background-image: url("https://images.pexels.com/photos/1410484/pexels-photo-1410484.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}
.truckApplication {
    width: 60%;
    margin: auto;
   background-color: rgba(255, 255, 255, 0.3);
   padding: 30px;
   margin-top: 40px;
   border-radius: 5px;
   color: white;
}
.truckApplication label {
    /* display:inline-block;*/
    padding: 5px 5px 5px 5px;
    background-color: rgb(0, 0, 0, 0.6);
    font-weight: bolder;
    color: white;
}
.whiteBackground{
    background-image: url("https://images.pexels.com/photos/1796731/pexels-photo-1796731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}
.test{
    background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F1264937%2Fpexels-photo-1264937.jpeg%3Fauto%3Dcompress%26cs%3Dtinysrgb%26fit%3Dcrop%26h%3D627%26w%3D1200");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}

.snowFloodtruck{
    background-image: url("https://images.pexels.com/photos/730129/pexels-photo-730129.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}
.beachBackground{
    /* background-image: url("https://images.pexels.com/photos/417003/pexels-photo-417003.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    background-image: url("https://images.unsplash.com/photo-1533035350251-aa8b8e208d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
    /* background-size: cover; */
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
    z-index: -500;
    background-color: #AD974F;
}

.redDoor{
    background-image: url("https://images.unsplash.com/photo-1473896282073-a86f105113c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1961&q=80");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}

.yellowBug{
    background-image: url("https://images.pexels.com/photos/1498843/pexels-photo-1498843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}
.truckerDashboard{
    background-image: url("https://images.pexels.com/photos/1044329/pexels-photo-1044329.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}
.openApplicationsBackground{
    background-image: url("https://images.pexels.com/photos/221357/pexels-photo-221357.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}
.approvedApplicationsBackground{
    background-image: url("https://images.pexels.com/photos/633017/pexels-photo-633017.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}
.registeredTrucksBackground{
    background-image: url("https://images.unsplash.com/photo-1520682887308-96c486ad8fce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}





