
.adminDashboard {
    background-image: url("https://images.unsplash.com/photo-1519817914152-22d216bb9170?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center center;
    padding-bottom:40px;
}
.adminPage{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brickBackground{
    background-image: url("https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?cs=srgb&dl=brick-wall-bricks-stone-207142.jpg&fm=jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding-bottom:40px;
}
.truckApplication {
    width: 60%;
    margin: auto;
   background-color: white;
   padding: 30px;
}