.adminDashboard .card {
	width: 18rem;	
}
.font {
font-size: 30px;
font-family: 'Luckiest Guy', cursive;
text-shadow: 2px 2px rgb(240, 188, 16);
}
.font5 {
font-family: 'Roboto', sans-serif;
font-size: 25px;
text-shadow: 1px 1px black;
}
.font6 {
	font-size: 40px;
	font-family: 'Luckiest Guy', cursive;
	text-shadow: 2px 2px red;
	}
a:hover {
opacity: 0.6;
}
.card {
box-shadow: 3px 5px black;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 20px
}

.buttonIcon{
margin-left: 7px;
}
.userImg {
	width: 150px;
}
.activeUserImg {
	width: 75px;
	margin-top: 40px;
}
.truckImg {
	width: 150px;
}
.openImg {
	width: 100px;
	padding-top:20px;
}
.approvedImg {
	width: 100px;
	padding-top: 20px;
}
.deniedImg {
	width: 100px;
	padding-top: 20px;
}
i:hover {
	 color: gold
}

.largeTitles {
	font-size: 50px;
	font-family: 'Luckiest Guy', cursive;
	text-shadow: 2px 2px black;
}

