.adminDashboard .card {
	width: 18rem;	
}
.font {
font-size: 30px;
font-family: 'Oswald', sans-serif;
}
.font5 {
font-family: 'Oswald', sans-serif;
font-size: 24px;
}
.font6 {
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	}
.navbar a:hover {
	color: gold
}
a:hover {
opacity: 0.6;
}
.card {
box-shadow: 2px 2px black;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 20px
}

.buttonIcon{
margin-left: 7px;
}
.userImg {
	width: 150px;
}
.activeUserImg {
	width: 75px;
	margin-top: 40px;
}
i:hover {
	 color: gold
}

.largeTitles {
	font-size: 50px;
	font-family: 'Oswald', sans-serif;
}
.adminDashboard .card-body {
	padding-bottom: 0;
}
.alignLogo {
	margin-right: 40%;
}
.navbar {
	padding-top: 0;
	padding-bottom: 4;
}
@media only screen and (max-width: 600px) {
	.largeTitles {
	   font-size: 25px;
	 }
	label, input{
		width:100%;
		font-size: 12px;
	}
	.btn {
		padding: 0;
	}
	a {
		font-size: 12px;
		padding: 0;
	}
   }