.logo {
font-size: 500px;
padding: 10px;
}
.font {
font-size: 30px;
font-family: 'Luckiest Guy', cursive;
}
.font2 {
font-family: 'Black Ops One', cursive;
font-size: 30px;
}
.nav-wrapper {
margin-bottom: 100px;
}
                                  
                                            
                                            
             
                                        
                                        
                                        
                                        
                                        
                                        
                                    
                                    
                                   







